#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}


.dc-chart g.row text {
    fill:black;
    font-size: 12px;
}

#total-projects {
    background: #33CC99;
    width: 200px;
    position:relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33CC99;
    width: 200px;
    position:relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dc-select-menu {
    background: #33CC99;
    width: 80%;
    border: none;
    postion: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0;
}

/* ------- BUTTON STYLING ---------*/

.intro_button {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
    margin-top:10px;
}

.intro_button:active {
	border-color: #33CC99;
	color: #00bcd4;
}

.intro_button:hover {
	background: #33CC99;
}

.intro_button:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.intro_button:active:before {
	color: #33CC99;
}